.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.home-card {
  width: 150px; /* Adjusted width */
  margin: 0 10px; /* Adjusted margin */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.home-card:hover {
  transform: scale(1.05);
}

.home-image {
  border-bottom: 1px solid #ddd;
  height: auto;
  object-fit: cover;
}