body {
  margin:0;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5; 
  background: linear-gradient(45deg, #f37704, #ffcc00); /* Marvel red and yellow gradient */
}

h1 {
  color:#f5f5f5;
  text-align: center;
  padding: 20 px 0px;
  font-size: 2.5rem;

}

.navbar {
  margin-bottom: 30px;
  background: linear-gradient(45deg, #C62911, #FF9F33); /* Marvel red and yellow gradient */
}


